.article {
  position: relative;
  width: 100%;
  max-width: 728px;
  margin: 0 auto 20px auto; }
  @media (prefers-color-scheme: dark) {
    .article {
      color: #d2d6da; } }
  @media (max-width: 768px) {
    .article {
      padding: 20px; } }
  .article .article-header {
    padding: 20px 0 40px 0; }
    @media (max-width: 768px) {
      .article .article-header {
        padding: 0 0 40px 0; } }
    .article .article-header h1 {
      font-size: 2em;
      line-height: 1.2;
      margin-bottom: 0; }
      @media (max-width: 768px) {
        .article .article-header h1 {
          font-size: 1.5em; } }
  .article .article-meta {
    font-size: 14px;
    color: #9c9c9c;
    padding-left: 1px; }

/* Blog article styling */
.article-entry,
.post-excerpt {
  position: relative;
  font-family: "Crimson Text", Helvetica, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", Microsoft JhengHei, WenQuanYi Micro Hei, "Microsoft YaHei", sans-serif;
  font-size: 18px;
  color: #393a3a;
  padding-bottom: 30px; }
  @media (prefers-color-scheme: dark) {
    .article-entry,
    .post-excerpt {
      color: #d2d6da; } }
  .article-entry a,
  .post-excerpt a {
    color: #f59200; }
    .article-entry a:hover,
    .post-excerpt a:hover {
      color: #f08f00;
      background: rgba(255, 152, 0, 0.1); }
    .article-entry a:active,
    .post-excerpt a:active {
      background: rgba(255, 152, 0, 0.2);
      color: #ffffff; }
  .article-entry h1,
  .article-entry h2,
  .article-entry h3,
  .article-entry h4,
  .article-entry h5,
  .article-entry h6,
  .post-excerpt h1,
  .post-excerpt h2,
  .post-excerpt h3,
  .post-excerpt h4,
  .post-excerpt h5,
  .post-excerpt h6 {
    position: relative;
    font-family: "Oswald", Helvetica, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", Microsoft JhengHei, WenQuanYi Micro Hei, "Microsoft YaHei", sans-serif;
    font-weight: bold;
    margin: 40px auto 30px auto; }
    @media (max-width: 768px) {
      .article-entry h1,
      .article-entry h2,
      .article-entry h3,
      .article-entry h4,
      .article-entry h5,
      .article-entry h6,
      .post-excerpt h1,
      .post-excerpt h2,
      .post-excerpt h3,
      .post-excerpt h4,
      .post-excerpt h5,
      .post-excerpt h6 {
        left: 15px; } }
    .article-entry h1::before,
    .article-entry h2::before,
    .article-entry h3::before,
    .article-entry h4::before,
    .article-entry h5::before,
    .article-entry h6::before,
    .post-excerpt h1::before,
    .post-excerpt h2::before,
    .post-excerpt h3::before,
    .post-excerpt h4::before,
    .post-excerpt h5::before,
    .post-excerpt h6::before {
      position: absolute;
      left: -20px;
      top: 0;
      content: "#";
      color: #4caf50;
      font-weight: normal; }
  .article-entry p,
  .post-excerpt p {
    margin-bottom: 20px;
    line-height: 1.75em; }
  .article-entry figure,
  .post-excerpt figure {
    width: 100%;
    font-size: 13px;
    margin: 20px 0;
    padding: 10px 15px;
    background-color: #F9F9F9;
    overflow: auto; }
    @media (prefers-color-scheme: dark) {
      .article-entry figure,
      .post-excerpt figure {
        background-color: #24272d; } }
    .article-entry figure td.gutter,
    .post-excerpt figure td.gutter {
      padding-right: 10px;
      color: #969696;
      font-size: 12px;
      border-right: 1px solid #ececec; }
    .article-entry figure td.code,
    .post-excerpt figure td.code {
      padding-left: 10px; }
  .article-entry ul,
  .article-entry ol,
  .post-excerpt ul,
  .post-excerpt ol {
    margin: 20px 0 20px 0;
    padding-left: 30px;
    list-style: circle; }
  .article-entry img,
  .post-excerpt img {
    display: block;
    border: none;
    max-width: 100%;
    height: auto; }
  .article-entry blockquote,
  .post-excerpt blockquote {
    position: relative;
    width: 100%;
    margin: 20px 0;
    padding: 0 20px;
    border-left: 4px solid #4caf50; }
  .article-entry code,
  .post-excerpt code {
    color: #008c7f;
    padding: 3px 5px;
    margin: 0 2px;
    border-radius: 2px;
    white-space: nowrap;
    font-size: 0.8em;
    background-color: #F9F9F9; }
    @media (prefers-color-scheme: dark) {
      .article-entry code,
      .post-excerpt code {
        background-color: #24272d;
        color: #d2d6da; } }
  .article-entry pre,
  .post-excerpt pre {
    white-space: pre; }
    .article-entry pre code,
    .post-excerpt pre code {
      color: #414141;
      padding: 0 0 0 30px;
      margin: 0;
      font-size: 1em;
      background-color: transparent;
      border: 0;
      white-space: inherit; }
      @media (prefers-color-scheme: dark) {
        .article-entry pre code,
        .post-excerpt pre code {
          background-color: #24272d; } }
    .article-entry pre figure,
    .post-excerpt pre figure {
      margin: 0; }
  @media (max-width: 768px) {
    .article-entry,
    .post-excerpt {
      font-size: 16px; }
      .article-entry h1,
      .article-entry h2,
      .article-entry h3,
      .post-excerpt h1,
      .post-excerpt h2,
      .post-excerpt h3 {
        margin: 30px 0; }
      .article-entry h4,
      .article-entry h5,
      .article-entry h6,
      .post-excerpt h4,
      .post-excerpt h5,
      .post-excerpt h6 {
        margin: 20px 0; }
      .article-entry h1,
      .post-excerpt h1 {
        font-size: 1.5em; }
      .article-entry h2,
      .post-excerpt h2 {
        font-size: 1.4em; }
      .article-entry h3,
      .post-excerpt h3 {
        font-size: 1.3em; }
      .article-entry h4,
      .post-excerpt h4 {
        font-size: 1.2em; }
      .article-entry h5,
      .post-excerpt h5 {
        font-size: 1.1em; }
      .article-entry h6,
      .post-excerpt h6 {
        font-size: 1em; }
      .article-entry figure,
      .post-excerpt figure {
        font-size: 13px;
        line-height: 1.6em; } }

.article-tags {
  margin-bottom: 30px; }
  .article-tags .tag-link {
    position: relative;
    display: inline-block;
    padding: 4px 10px 6px 10px;
    margin: 0 5px 5px 0;
    line-height: normal;
    font-size: 14px;
    background-color: #F9F9F9;
    border-radius: 2px; }
    @media (prefers-color-scheme: dark) {
      .article-tags .tag-link {
        background-color: #191b1f;
        color: #ffffff; } }
    .article-tags .tag-link:hover {
      background-color: #414141;
      color: #ffffff; }
      @media (prefers-color-scheme: dark) {
        .article-tags .tag-link:hover {
          background-color: #24272d; } }
    .article-tags .tag-link::before {
      content: "#";
      margin-right: 3px; }

/* Comments */
#comments {
  position: relative;
  padding: 30px 0; }
