#footer {
  position: relative;
  padding: 20px 20px 40px 20px;
  font-size: 14px;
  overflow: hidden;
  text-align: center;
  transform: translate3d(0px, -20px, 0px);
  transition: all 0.4s;
  z-index: 3; }
  #footer.show {
    transform: translate3d(0px, 0px, 0px);
    opacity: 1; }
  @media (prefers-color-scheme: dark) {
    #footer {
      color: #65707b; } }
  #footer a {
    color: #828282; }
    @media (prefers-color-scheme: dark) {
      #footer a {
        color: #d2d6da; } }
    #footer a:hover {
      background: rgba(255, 152, 0, 0.2);
      color: #ff9800; }

/* Search */
.search {
  position: relative;
  width: 100%;
  max-width: 728px;
  margin: 0 auto 20px auto;
  z-index: 2; }
  .search #searchform {
    position: relative;
    display: block;
    width: 100%; }
    .search #searchform #u-search-btn-submit {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      width: 36px;
      height: 36px;
      background: transparent;
      color: white;
      border: 0;
      text-align: center;
      font-size: 18px;
      cursor: pointer; }
      .search #searchform #u-search-btn-submit span {
        line-height: 36px; }
  .search #searchinput {
    width: 100%;
    padding: 0 10px;
    line-height: 36px;
    height: 36px;
    font-size: 14px;
    font-family: "Oswald", Helvetica, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", Microsoft JhengHei, WenQuanYi Micro Hei, "Microsoft YaHei", sans-serif;
    border: none;
    border-radius: 0 !important;
    background: #414141;
    color: white;
    box-sizing: border-box;
    transition: all 0.24s ease; }
    @media (prefers-color-scheme: dark) {
      .search #searchinput {
        background: #24272d; } }
    .search #searchinput:focus {
      background: black; }
      @media (prefers-color-scheme: dark) {
        .search #searchinput:focus {
          background: #141619; } }
