.site-header {
  position: relative;
  width: 100%;
  overflow: hidden;
  user-select: none;
  padding: 20px; }
  .site-header .square {
    position: relative;
    display: block;
    font-weight: normal;
    cursor: pointer;
    overflow: hidden; }
    .site-header .square.logo {
      float: left; }
    .site-header .square.me {
      position: fixed;
      top: 20px;
      right: 20px;
      visibility: visible;
      opacity: 1;
      transition: all 0.24s;
      z-index: 65535; }
      .site-header .square.me.active {
        opacity: 0;
        visibility: hidden; }
    .site-header .square span {
      display: block;
      float: left;
      width: 30px;
      height: 30px;
      line-height: 30px;
      vertical-align: middle;
      text-align: center;
      transition: all 0.24s; }
      .site-header .square span.b {
        background-color: #414141;
        color: #ffffff; }
        @media (prefers-color-scheme: dark) {
          .site-header .square span.b {
            background-color: #202427; } }
        .site-header .square span.b:hover {
          color: #ff9800;
          background-color: #414141; }
          @media (prefers-color-scheme: dark) {
            .site-header .square span.b:hover {
              background-color: #090a0b; } }
      .site-header .square span.w {
        background: transparent;
        color: #414141; }
        @media (prefers-color-scheme: dark) {
          .site-header .square span.w {
            color: #ff9800; } }
        .site-header .square span.w:hover {
          color: #ffffff;
          background-color: #414141; }
          @media (prefers-color-scheme: dark) {
            .site-header .square span.w:hover {
              background-color: #202427; } }
