/* Pagination */
#page-nav {
  position: relative;
  width: 100%;
  max-width: 728px;
  margin: 20px auto 0 auto;
  transition: all 0.4s;
  transform: translate3d(0px, -20px, 0px);
  opacity: 0;
  text-align: center; }
  #page-nav.show {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px); }
  #page-nav span,
  #page-nav a {
    display: inline-block;
    padding: 0 10px;
    margin: 5px 0;
    height: 30px;
    min-width: 30px;
    line-height: 30px;
    font-size: 14px;
    text-transform: uppercase;
    vertical-align: middle;
    text-align: center;
    transition: all 0.24s;
    border-bottom: 1px solid transparent; }
  #page-nav span.current {
    background-color: #ececec;
    border-bottom: 1px solid #c6c6c6;
    color: #414141; }
    @media (prefers-color-scheme: dark) {
      #page-nav span.current {
        background-color: #0e0f11;
        border-color: #191b1f;
        color: #757e8f; } }
  #page-nav span.space {
    background-color: #ffffff;
    color: #414141; }
    @media (prefers-color-scheme: dark) {
      #page-nav span.space {
        background-color: #191b1f;
        border-color: #24272d;
        color: #757e8f; } }
  #page-nav a {
    background-color: #ffffff;
    color: #414141; }
    @media (prefers-color-scheme: dark) {
      #page-nav a {
        background-color: #191b1f;
        border-color: #24272d;
        color: #757e8f; } }
    #page-nav a:hover {
      background: #f1f1f1;
      color: #414141; }
      @media (prefers-color-scheme: dark) {
        #page-nav a:hover {
          background-color: #24272d;
          color: #ff9800; } }
